body{
    padding:5%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#palet
{
    height:400px;
    width:400px;
}
#whole_container
{

    background-color:aliceblue;
    border-style:solid;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.row_container
{
    display:flex;
    justify-content:center;
}
.tiles
{
    background-color: white;
    border-width: 1.5px;
    box-sizing: border-box;
}

.tiles.active
{
    background-color: aqua;
}

#options
{
    display:flex;
    justify-content: center;
    margin:4%;
    gap:2%;
}
button{
    padding : 20px;
    font-size:20px;
    margin: 2%;
    border-radius:8px;
}

.anim
{
    background-color: antiquewhite;
}